body{
    margin:0;
}

.block1{
width: 98.2%;
height: 50px;
background-color:orange;
padding:10px;
margin: 0;
padding-right: 20px;
}

#top_number{
    text-align: center;
    color: white;
    font-size: 20px;

}


.basket_top_style{
    text-decoration: none;
    margin-top:90px;
    margin-left: 99.5%;
 font-size: 15px;

}

.bio{
    text-align: center;
    font-size:70px;
    color:orange;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2{
    text-align: center;
    color: rgb(100, 96, 96);
    font-size: 40px;
    padding:5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.product_card_inner{
padding: 45px;
border: 2px solid #FFA033;
width: 250px;
height: 400px;
left:90px;
display:inline-block;
margin: 100PX;


}
 
.product_title{
    color:orange;
    font-size: 25px;
    text-decoration: unset;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.price_1{
    font-size:25px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid #ccc
}

.price_2{
    font-size:25px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid #ccc;
    padding:9.7px;
    
}
.name{
    font-size:35px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid #ccc;
    color:rgb(100, 96, 96);
}

.price_old{
    font-size:25px;
    text-decoration:line-through;
    font-family: Arial, Helvetica, sans-serif;
    padding:15px;
    border-bottom: 1px solid #ccc
}

.link_product{
    font-size: 20px;
    text-decoration: none;
    color:rgb(255, 248, 248);
    font-family: Arial, Helvetica, sans-serif;
    padding-right:30px;
}

.product_tooblar{
    background-color: orange;
    width: 110px;
    height: 30px;
    padding:10px;


}



.product_card_inner2{
    padding: 45px;
    border: 2px solid #FFA033;
    width: 250px;
    height: 400px;
    left:90px;
    display: inline-block;
    margin: 100PX;
    
    
    }
     
    .product_title{
        color:orange;
        font-size: 25px;
        text-decoration: unset;
        cursor: pointer;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    .price_1{
        font-size:25px;
        font-family: Arial, Helvetica, sans-serif;
        border-bottom: 1px solid #ccc
    }
    
    .price_2{
        font-size:25px;
        font-family: Arial, Helvetica, sans-serif;
        border-bottom: 1px solid #ccc;
        padding:9.7px;
        
    }
    .name{
        font-size:35px;
        font-family: Arial, Helvetica, sans-serif;
        border-bottom: 1px solid #ccc;
        color:rgb(100, 96, 96);
    }
    
    .price_old{
        font-size:25px;
        text-decoration:line-through;
        font-family: Arial, Helvetica, sans-serif;
        padding:15px;
        border-bottom: 1px solid #ccc
    }
    
    .link_product{
        font-size: 20px;
        text-decoration: none;
        color:rgb(255, 248, 248);
        font-family: Arial, Helvetica, sans-serif;
        padding-right:30px;
    }
    
    .product_tooblar{
        background-color: orange;
        width: 110px;
        height: 30px;
        padding:10px;
    
    
    }

    #footer {
        background: orange; 
        color:white; 
        padding: 5px;
        clear: left; 
        height:200px;
       }

       .footer_text{
           font-size: 20px;
           font-family: Arial, Helvetica, sans-serif;
           padding: 10px;
       }